# VITE_API_URL=http://localhost:8080 Скоро понадобится
POSTGRES_USER=admin 
POSTGRES_PASSWORD=your_secret_password
POSTGRES_DB=science_schools # Сейчас бэк хардкодом обращается к этому названию, будет измененено
