POSTGRES_HOST=127.0.0.1

POSTGRES_PORT=5432 # Используется в API.go, менять не нужно
POSTGRES_PUBLISHED_PORT=5432 # Какой порт вашей машины будет использован для обращения (можете поменять, если занят)

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8080

FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=5173

POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_secret_password
POSTGRES_DB=your_db_name

VCPKG_ROOT=/absolute/path/to/vcpkg

# Потом будет разбито на разные окружения